*.a
*.dSYM
*.o
*.so
*.swp
tests/coverage-html

# Autotools and build artifacts
*.la
*.lo
autom4te.cache
aclocal.m4
depcomp
install-sh
missing
stamp-h1
compile
.deps/
.dirstamp
.libs/
config.guess
config.log
config.status
config.sub
libtool
Makefile
Makefile.in
ar-lib
ltmain.sh
configure
coverage-html/
m4/

